@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:wght@100..900&display=swap');

:root {
    --ff-primary: 'Cinzel', verdana;
    --ff-secondary: 'Inter', verdana;
    --clr-primary-1: #ff910c;
    --clr-primary-5: #ffb472;
    --clr-primary-9: #ffead8;
    --clr-secondary: #f3f6fd;
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-5: hsl(209, 28%, 39%);
    --clr-grey-10: hsl(209, 9%, 90%);
    --clr-black: #181818;
    --clr-white: #fff;
    --letter-spacing: 2px;
    --line-height: 1.5;
    --border-radius: 0.25rem;
    --transition: 0.5s all ease-in-out;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: var(--line-height);
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
img:not(.nav-logo) {
    width: 100%;
    display: block;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize var(--line-height) 1.25;
    margin-bottom: 0.75re;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    font-family: var(--ff-secondary);
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*global classes */
/*section is for each individual section */
.section {
    padding: 2rem 0;
}
.section-title {
    text-align: center;
    margin-bottom: 1rem;
}
.section-title h2 {
    text-transform: uppercase;
}
.section-title span {
    color: var(--clr-primary-5);
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 992px;
}

@media screen and (min-width: 768px) {
    .section-title {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}
@media screen and (min-width: 1170px) {
    .section-title {
        margin-bottom: 5rem;
    }
}

.btn {
    text-transform: uppercase;
    background: var(--clr-primary-1);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--letter-spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}
.btn:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-9);
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    z-index: 5;
}
.nav-icons {
    display: none;
}
.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.nav-toggle {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    cursor: pointer;
    transition: var(--transition);
}
.nav-toggle:hover {
    transform: scale(1.2);
}
.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    transition: var(--transition);
    cursor: pointer;
    font-size: 1rem;
}
.nav-link:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-9);
    padding-left: 2.25rem;
    border-left: 2px solid var(--clr-primary-1);
}
.nav-logo {
    height: 2.3rem;
}
.nav-header h1 {
    font-size: 1.25rem;
}
.nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}
.show-links {
    height: 280px;
}
html {
    scroll-behavior: smooth;
}
@media screen and (min-width: 992px) {
    .nav-center {
        max-width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .nav-toggle {
        display: none;
    }
    .nav-logo {
        margin-right: 3rem;
        cursor: pointer;
    }
    .nav-links {
        height: auto;
    }
    .nav-header {
        padding: 0;
    }
    .navbar {
        padding: 1rem 2rem;
    }
    .nav-link {
        display: inline-block;
        padding: 0 0;
        margin-right: 1rem;
    }
    .nav-link:hover {
        padding: 0;
        border: none;
        color: var(--clr-primary-5);
        background: transparent;
        text-decoration: underline;
    }
    .nav-icons {
        display: flex;
    }
    .nav-icon {
        margin-right: 0.7rem;
        color: var(--clr-primary-1);
        font-size: 2rem;
        transition: var(--transition);
    }
    .nav-icon:hover {
        color: var(--clr-primary-5);
        transform: scale(1.2);
    }
}
/* hero */
.hero {
    min-height: 100vh;
    background: var(--clr-primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner {
    text-align: center;
    color: var(--clr-white);
    padding: 0 3rem;
    margin-top: 3rem;
}
.hero-banner h1 {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.hero-banner p {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--clr-white);
    letter-spacing: var(--letter-spacing);
}
.hero-btn {
    padding: 0.9rem 1.6rem;
    font-size: 1.25rem;
    background: white;
    color: var(--clr-primary-5);
    font-weight: 600;
}
.hero-btn:hover {
    background: transparent;
    color: var(--clr-white);
    border-color: var(--clr-white);
}

@media screen and (min-width: 768px) {
    .hero {
        background: linear-gradient(#ff9d3ea9, rgba(0, 0, 0, 0.7)),
            url(./images/hero.jpg) center/cover no-repeat;
    }
    .hero-banner {
        padding: 0;
    }
    .hero-banner h1 {
        font-size: 3rem;
        max-width: 50rem;
    }
    .hero-banner p {
        font-size: 1.25rem;
        max-width: 45rem;
    }
}
@media screen and (min-width: 768px) {
    .hero-banner p {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}
@media screen and (min-width: 992px) {
    .hero-banner p {
        /* font-size: 5rem; */
        margin-bottom: 5rem;
    }
}

/* about */
.about-img-container,
.about-info {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.about-info h3 {
    margin-bottom: 0.5rem;
}
.about-detail {
    /* background: var(--clr-secondary); */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.about-para {
    border: 1px solid var(--clr-primary-1);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}
.about-para:hover {
    box-shadow: var(--dark-shadow);
}
.about-para:hover .about-icon {
    transform: translateY(-5px) scale(1.01);
}
.about-para .about-icon {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    text-align: center;
    color: var(--clr-primary-1);
    transition: var(--transition);
}
.about-para h4 {
    text-align: center;
}
.about-para p {
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .about-detail {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-para {
        width: 48%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (min-width: 992px) {
    .about-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2rem;
        margin-top: 3rem;
        padding-right: 3rem;
    }
    .about-img-container,
    .about-info {
        flex: 0 0 50%;
    }
}
@media screen and (min-width: 1170px) {
    .about-center {
        max-width: 90vw;
    }
    .about-detail {
        max-width: 90vw;
    }
    .about-para {
        width: 23.7%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-img-container {
        position: relative;
    }
    .about-img-container::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border: 0.5rem solid var(--clr-primary-1);
        top: -1.5rem;
        left: -1.5rem;
        z-index: -1;
    }
}

/* services */
.services {
    background: var(--clr-grey-10);
}
.services-center {
    max-width: 90vw;
}
.service {
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.service-icon {
    background: var(--clr-primary-9);
    color: var(--clr-primary-1);
    padding: 0.5rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
}
.service-title {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}
.service-text {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .services-center {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .service {
        flex: 0 0 45%;
        max-width: 18rem;
    }
}
@media screen and (min-width: 992px) {
    .service {
        flex: 0 0 23%;
    }
}

/* case studies */
.case-card {
    transition: var(--transition);
    background: var(--clr-grey-10);
    box-shadow: var(--light-shadow);
    margin-bottom: 2rem;
}
.case-card:hover {
    box-shadow: var(--dark-shadow);
    transform: scale(1.02);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.case-img-container {
    position: relative;
}
.case-img {
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.client {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--clr-primary-5);
    margin-bottom: 0;
    color: var(--clr-grey-1);
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
}
.case-info {
    padding: 1.25rem 1.5rem;
}
.case-info h4 {
    margin: 0.5rem;
    margin-left: 0;
}
.case-btn {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .studies-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .case-card {
        flex: 0 0 49%;
    }
}

@media screen and (min-width: 1170px) {
    .studies-center {
        max-width: 85vw;
    }
    .case-card {
        flex: 0 0 31.5%;
    }
}

/* contact and newsletter */
.contact {
    background: var(--clr-primary-1);
    padding: 5rem 0;
}

.contact-title {
    color: var(--clr-white);
    text-align: center;
}
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    flex: 1 1 auto;
    color: var(--clr-grey-5);
}

.form-control,
.btn-submit {
    padding: 0.375rem 0.7rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: var(--letter-spacing);
    background: var(--clr-white);
    text-transform: capitalize;
    border: transparent;
}

.form-control::placeholder {
    color: inherit;
}
.btn-submit {
    font-family: var(--ff-primary);
    margin-left: 0.5rem;
    background: var(--clr-primary-9);
    color: var(--clr-primary-1);
    cursor: pointer;
    transition: var(--transition);
}

.btn-submit:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-9);
}

@media screen and (min-width: 992px) {
    .contact-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90vw;
    }
    .contact-form {
        align-self: flex-end;
        flex: 0 1 50%;
        padding-left: 3rem;
    }
}

/* team */
.team-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 0.2rem; */
}
.team-title {
    padding: 2rem 0;
    margin-bottom: 0;
}
.team-img-container {
    position: relative;
    margin-bottom: 1rem;
    background: var(--clr-primary-1);
    flex: 0 0 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
}
.team-img {
    transition: var(--transition);
}
.team-detail {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--clr-white);
    opacity: 0;
    transition: var(--transition);
    text-align: center;
    font-family: var(--ff-secondary);
    text-shadow: 0 5px 15px white;
}
.team-name {
    /* text-decoration: underline; */
    text-transform: capitalize;
    margin: 1rem;
}
.team-img-container:hover .team-img {
    opacity: 0.5;
    transform: scale(1.02);
}
.team-img-container:hover .team-detail {
    opacity: 1;
}

@media screen and (min-width: 572px) {
    .team-img-container {
        flex: 0 0 50%;
    }
}
@media screen and (min-width: 768px) {
    .team-title {
        padding: 4rem 0;
    }
    .team-img-container {
        flex: 0 0 12.25%;
    }
}

/* footer */
.footer {
    background: var(--clr-grey-1);
    color: var(--clr-white);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer-links,
.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.footer-link {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    margin-right: 1rem;
    /* letter-spacing: var(--letter-spacing); */
    transition: var(--transition);
}

.footer-link:hover {
    color: var(--clr-primary-5);
    text-decoration: underline;
}

.footer-icon {
    font-size: 2rem;
    margin-right: 1.2rem;
    color: var(--clr-primary-9);
    transition: var(--transition);
}
.footer-icon:hover {
    color: var(--clr-primary-1);
}

.copyright {
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    color: white;
}
.company {
    color: var(--clr-primary-5);
}
